body{
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
#diet{
    color: orange;
}
section{
    display: flex;
}
.container{
    width: 90%;
    padding-bottom: 10px;  
}
.half-width{
    width: 50%;
    padding-left: 5%; 
}
.t-width{
    width:33%;
}

h1{
    font-size:50px;
}
.half-width img{
    width: 80%;
}
p{
    text-align: justify;
    padding-bottom: 5%;
}
.container{
    
    margin: 0 ;
    display: flex; 
    
}
.top-banner{
    background-image: url(images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: 6300px 600px;
    padding: 3%;
    margin: 0;
    width: 100%;
}
.second-banner{
    background-image: url(images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: 6300px 600px;
    padding: 3%;
    margin: 0;
    width: 100%;
}
a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 3%;
    border-radius: 50px;
    color:rgb(59, 16, 20);
    font-weight: 700;  
}
.recipe-heading{
    text-align: center;
    padding: 5px 200px;

}
.box-img{
    height: 200px;
    width:250px;
    display: flex;
    padding: 10%;
}
.box{
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    width: 100%;
    margin-left: 12%;
    box-shadow: 10px 10px 50px gray;
    border-radius: 5%;
}
footer{
    text-align: center;
    background: rgb(31, 2, 2);
    color:blanchedalmond;
    
}
footer p{
    text-align: center;
    font-size: small;
}
footer h3{
    padding-top: 5%;
    color: rgb(161, 170, 80);
}
#foodie{
    
  background: -webkit-linear-gradient(rgb(224, 185, 149), rgb(233, 32, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

